.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
    height: 360px;
}

.fighter-preview___right > .fighter-preview___img {
    transform: scaleX(-1);
}

.fighter-preview___details {
    color: #ffdfa7;
    font-family: Arial, serif;
    font-size: 16px;
    background-color: rgba(8, 8, 8, 0.5);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.fighter-preview___name  {
    color: #db1d23;
    margin: 10px;
    -webkit-text-stroke: 1px #ffdfa7;
    font-size: 25px;
}
